.App{
  border: 2px black solid;
  height: 100vh;
display: flex;
}

.form_conatiner{
  border: 2px red solid;
  width: 40%;
 
  position: fixed;


}

.form_data{
  border: 2px blue solid;
  width: 60%;
 


}